@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"),
		url("../fonts/CircularStd-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Medium.woff2") format("woff2"),
		url("../fonts/CircularStd-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"),
		url("../fonts/CircularStd-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

.wrapper {
	min-height: 100vh;
	font-family: "CircularStd", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
	max-width: 1045px;
	padding: 0 10px;
	margin: 0 auto;
}

.header-title {
	font-weight: 700;
	font-size: 65px;
	text-transform: capitalize;
	text-align: center;
	line-height: 1.27;
	color: #313131;
	padding-top: 140px;
	margin-bottom: 20px;
}

.header-sub {
	max-width: 770px;
	margin: 0 auto;
}

.text {
	font-size: 20px;
	line-height: 1.25;
	color: #5F5F5F;
	padding: 0 35px;
	margin-bottom: 67px;
}

.title {
	font-weight: 700;
	font-size: 34px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.quote {
	margin-bottom: 40px;
}

.quote-text {
	font-weight: 400;
	line-height: 156%;
	max-width: 510px;
	margin-bottom: 60px;
	color: #5F5F5F;
}

.author {
	font-weight: 700;
	text-transform: capitalize;
	padding-bottom: 5px;
	color: #313131;
}

ul ul {
	line-height: 1.3;
	color: #B8B8B8;
	text-transform: capitalize;
}
